/* body {

    background-image: url("assets/images/radSadDiner.jpg");  
    background-position: center top; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

} */
.siteTitle {
    color: rgb(158, 158, 226);
    /* color: white; */
    text-align: center;
    margin: 30vh 0 0 0;
    padding: 40% auto 0 auto;
    font-size: 300%;
    /* display: inline-block; */
    text-decoration: none;
    /* font-weight: 500; */
    z-index:2;
    
}

.siteTitleOuter:hover {
    color: rgb(132, 132, 189);
    text-decoration: none;
    text-shadow: 10px 10px 25px #c0c0c0;
    z-index:2;
}

.siteSubTitle {
    color: rgb(207, 158, 226);
    margin: 0 auto;
    text-align: center;
    padding: 5% 0;
    font-style: italic;
    font-weight: 500;
    z-index:2;
}

/* .backgroundPic {
z-index: 1;
display: contents;
} */

